<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basedemo.middle.basedemo01middle.dao.BookMaintenanceMapper">
    <resultMap id="TbTeachingMaterialVOResultMap" type="com.basedemo.common.basedemo01common.vo.TbTeachingMaterialVO">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="press" property="press" jdbcType="VARCHAR" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="pdate" property="pdate" jdbcType="INTEGER" />
        <result column="uprice" property="uprice" jdbcType="VARCHAR" />
        <result column="major" property="major" jdbcType="VARCHAR" />
        <result column="grade" property="grade" jdbcType="VARCHAR" />
        <result column="delflag" property="delflag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryBooks" resultMap="TbTeachingMaterialVOResultMap" parameterType="java.lang.String">
        select id as id,code as code,name as name,
               press as press,author as author,pdate as pdate,
               uprice as uprice,major as major,grade as grade
        from tb_teaching_material
        where delflag='0'
            <if test="code !='' and code != null">
                and  code = #{code,jdbcType=VARCHAR}
            </if>
            <if test="name !='' and name != null">
                and  name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="major !='' and major != null">
                and  major = #{major,jdbcType=VARCHAR}
            </if>
            <if test="grade !='' and grade != null">
                and  grade = #{grade,jdbcType=VARCHAR}
            </if>
    </select>

    <insert id="insertBooks">
        INSERT INTO tb_teaching_material(id, code, name, press, author,
                                         pdate, uprice, major, grade, delflag)
        VALUES (#{books.id,jdbcType=VARCHAR}, #{books.code,jdbcType=VARCHAR},
                #{books.name,jdbcType=VARCHAR}, #{books.press,jdbcType=VARCHAR},
                #{books.author,jdbcType=VARCHAR}, #{books.pdate,jdbcType=VARCHAR},
                #{books.uprice,jdbcType=VARCHAR}, #{books.major,jdbcType=VARCHAR},
                #{books.grade,jdbcType=VARCHAR},'0'
            )
    </insert>

    <update id="deleteBooks" parameterType="com.basedemo.common.basedemo01common.dto.Books">
        update  tb_teaching_material
        set delflag ='1'
        where id = #{books.id,jdbcType=VARCHAR}
    </update>

    <update id="deleteAllBooks">
        update  tb_teaching_material
        set delflag ='1'
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id,jdbcType=CHAR}
        </foreach>
    </update>

    <update id="updateBooks" parameterType="com.basedemo.common.basedemo01common.dto.Books">
        update  tb_teaching_material
        set code =#{books.code,jdbcType=VARCHAR},
            name =#{books.name,jdbcType=VARCHAR},
            press =#{books.press,jdbcType=VARCHAR},
            author =#{books.author,jdbcType=VARCHAR},
            pdate =#{books.pdate,jdbcType=VARCHAR},
            uprice =#{books.uprice,jdbcType=VARCHAR},
            major =#{books.major,jdbcType=VARCHAR},
            grade =#{books.grade,jdbcType=VARCHAR}
        where id = #{books.id,jdbcType=VARCHAR}
    </update>
</mapper>